{% extends "base.html" %}
{% block title %}Formulaire materiel{% endblock %}
{% block content %}
<h2 class="mb-3">{% if object %}Modifier{% else %}Ajouter{% endif %} un materiel</h2>
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Enregistrer</button>
            <a href="{% url 'materiel_list' %}" class="btn btn-outline-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}
