{% extends "base.html" %}
{% block title %}Mes groupes{% endblock %}
{% block content %}
<h2 class="mb-3">Groupes attribues</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead><tr><th>Groupe</th><th>Filiere</th><th>Niveau</th><th>Date affectation</th><th></th></tr></thead>
        <tbody>
        {% for a in affectations %}
            <tr>
                <td>{{ a.groupe.nom_groupe }}</td>
                <td>{{ a.groupe.filiere }}</td>
                <td>{{ a.groupe.niveau }}</td>
                <td>{{ a.date_affectation|date:"d/m/Y" }}</td>
                <td><a href="{% url 'group_detail' a.groupe.pk %}" class="btn btn-sm btn-outline-primary">Voir</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="5">Aucun groupe attribue.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
